@font-face {
    font-family: "Forum";
    src: url(assets/fonts/Forum-Regular.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-Regular.ttf);
    font-weight: 400;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
}