* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    margin: 0;
    /*background-color: rgb(107, 170, 224);*/
    background-color: rgb(25, 5, 121);
}
.wrapper {
    position: static;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(25, 5, 121);
    display: flex;
    flex-direction: column;
}
.title {
    margin-top: 5%;
    font-size: 3rem;  /*48рх*/
    color: rgb(242, 158, 171);
}
.dream {
    font-size: 1.5rem;
    font-style: italic;
    color: rgb(227, 83, 39);
}
.slider-wrapper {
    overflow: hidden;
}
.slider-track {
    display: flex;
    flex-direction: row;
    /*animation: slideMove 7s infinite;*/
    transition: transform 0.7s ease-in-out;
   /* transition: transform 0.7s ease;*/
}
.slide {
    min-width: 100%;
    display: flex;
    flex-direction: column;
        
    transition: opacity 0.7s ease;
    display: none;
}
/*.slide.active {
    opacity: 1;
}*/
#slide1:checked ~ .slider-track .slide1 .img {
    opacity: 1; /*первая картинка*/
}
#slide2:checked ~ .slider-track .slide2 .img,
#slide3:checked ~ .slider-track .slide3 .img,
#slide4:checked ~ .slider-track .slide4 .img,
#slide5:checked ~ .slider-track .slide5 .img {
    opacity: 1; /* переключение */
}

.img {
    height: 30vw; /*высота относительно ширины окна*/
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0; 
    transition: opacity 0.7s ease;
    animation: fadeIn 0.9s ease forwards;
}
.slide-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text {
    padding-top: 1em;
    color: white;
    font-size: 1.5em;
    margin-top: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    flex-grow: 1;
    transition: margin-bottom 0.3s ease;
    animation: fadeIn 0.9s ease forwards;
}
.controls {
    display: flex;
    margin-right: 0;
    margin-top: 1%;
    margin-left: auto;
    gap: 0.1em;
    justify-content: flex-end;
}
.areal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 3rem;
    height: 3rem;*/
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    /*background-color: red;*/
    
}
.round {
    background-color: rgb(252, 158, 171);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 0.5em solid rgb(252, 158, 171);
    transition: all 0.7s ease;
}
/*.areal-button:not(:checked):hover .round {
    border: 0.5em solid white;
    background-color: white;
    transition: all 0.7s ease-in-out;
}*/


/*radiobuttons*/
/*delete real radio button*/
.real-radio {
    display: none; 
}
/*.real-radio:checked + .label-button {
    background-color: #ed0d0d; 
}*/

.real-radio:checked + .areal-button .round {
    /*border: 0.4em solid blue;*/
    
}
/*#slide1:checked ~ .slider-track .slide1 .controls label:first-child .round,
#slide2:checked ~ .slider-track .slide2 .controls label:first-child .round
#slide3:checked ~ .slider-track .slide3 .controls label:first-child .round
#slide4:checked ~ .slider-track .slide4 .controls label:first-child .round {
    border: 0.4em solid red; 
}*/
/*#slide1:checked ~ .slider-track .slide1 .controls label:first-child .round
 {
    border: 0.4em solid red; 
}*/
/* цвет бордера для выбранной кнопки (актив) */
#slide1:checked ~ .slider-track .controls label[for="slide1"] .round,
#slide2:checked ~ .slider-track .controls label[for="slide2"] .round,
#slide3:checked ~ .slider-track .controls label[for="slide3"] .round,
#slide4:checked ~ .slider-track .controls label[for="slide4"] .round,
#slide5:checked ~ .slider-track .controls label[for="slide5"] .round {
    border: 0.5em solid white; 
    transition: all 0.7s ease;
}

/* ховеры для активных кнопок */
#slide1:checked ~ .slider-track .controls label[for="slide1"] .round:hover,
#slide2:checked ~ .slider-track .controls label[for="slide2"] .round:hover,
#slide3:checked ~ .slider-track .controls label[for="slide3"] .round:hover,
#slide4:checked ~ .slider-track .controls label[for="slide4"] .round:hover,
#slide5:checked ~ .slider-track .controls label[for="slide5"] .round:hover {
    border: 0.5em solid rgb(227, 83, 39); 
    transition: all 0.7s ease;
}
/* ховеры для неактивных кнопок */
#slide1 ~ .slider-track .controls label[for="slide1"] .round:hover,
#slide2 ~ .slider-track .controls label[for="slide2"] .round:hover,
#slide3 ~ .slider-track .controls label[for="slide3"] .round:hover,
#slide4 ~ .slider-track .controls label[for="slide4"] .round:hover,
#slide5 ~ .slider-track .controls label[for="slide5"] .round:hover {
    border: 0.5em solid white; 
    background-color: white;
    transition: all 0.7s ease;
}

/* slide checked */
#slide1:checked ~ .slider-track .slide1, /* ~ селектор соседних элементов*/
#slide2:checked ~ .slider-track .slide2,
#slide3:checked ~ .slider-track .slide3,
#slide4:checked ~ .slider-track .slide4,
#slide5:checked ~ .slider-track .slide5 {
    display: flex; /* slide view */
    /*opacity: 1;*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideMove {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(0); }
    34%  { transform: translateX(-100%); }
    67%  { transform: translateX(-100%); }
    68%  { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}